@import "../../../breakpoints.scss";

.navbar-collapse {
  // display: flex;
  // justify-content: flex-start;
  // flex-direction: column;
  height: fit-content;
}

.navbar-collapse > ul {
  // overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar-collapse ul > li {
  font-size: 0.95rem;
  margin-bottom: 1rem;
  a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
  }
}

@media screen and (max-width: $break-tablet) {
  .navbar-collapse.expanded {
    display: flex;
    flex-basis: 100%;
    max-height: 15em;
    flex-grow: 1;
    margin-top: 1em;
    animation-name: expanding;
    animation-duration: 500ms;
    transform-origin: top;
  }
  .navbar-collapse.collapsed {
    display: none;
    animation-name: collapsing;
    animation-duration: 300ms;
  }
  @keyframes collapsing {
    from {
      max-height: 100%;
    }
    to {
      max-height: 0;
    }
  }

  @keyframes expanding {
    from {
      transform: translateY(-20%);
    }
    to {
      transform: translateY(0);
    }
  }
}
@media screen and (min-width: $break-tablet) {
  .navbar-collapse {
    flex-basis: 25%;
    flex-grow: 0.25;
  }
  .navbar-collapse > ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}
