@import "../../../breakpoints.scss";

.navbar-collapse {
  // display: flex;
  // justify-content: flex-start;
  // flex-direction: column;
  overflow: hidden;
}

.navbar-collapse > ul {
  // overflow: hidden;
  list-style-type: none;
  height: fit-content;
  margin: 0;
  padding: 0;
}
.navbar-collapse ul > li {
  font-size: 0.95rem;
  margin-bottom: 1rem;
  a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
  }
}
@media screen and (max-width: $break-tablet) {
  .navbar-collapse.expanding,
  .navbar-collapse.expanded,
  .navbar-collapse.collapsing {
    margin-top: 1em;
    display: flex;
    flex-basis: 100%;
  }
  .navbar-collapse.expanding {
    height: 0;
  }
  .navbar-collapse.expanded {
    max-height: 15em;
    flex-grow: 1;
  }
  .navbar-collapse.collapsed {
    display: none;
  }
}
@media screen and (min-width: $break-tablet) {
  .navbar-collapse {
    flex-basis: 25%;
    flex-grow: 0.25;
  }
  .navbar-collapse > ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}
