@import "../../breakpoints";
@import "../../colors";
.navbar,
.navbar.light,
.navbar.dark {
  overflow-x: hidden;
}

.navbar,
.navbar.dark {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

// .navbar.container,
// .navbar.dark.container {
//   height: auto;
// }
.navbar,
.navbar.light {
  background-color: $brand-light;
}

// .navbar .navbar-nav.expanding,
// .navbar .navbar-nav.expanded,
// .navbar .navbar-nav.collapsing,
// .navbar.dark .navbar-nav.expanding,
// .navbar.dark .navbar-nav.expanded,
// .navbar.dark .navbar-nav.collapsing {
//   height: auto;
// }

.navbar.dark {
  background-color: $brand-dark;
  p,
  span,
  div,
  ul,
  li,
  b,
  i,
  a {
    color: $brand-light;
  }
}

@media screen and (min-width: $break-tablet) {
  .navbar,
  .navbar.light,
  .navbar.dark {
    background-color: transparent;
    p,
    span,
    div,
    ul,
    li,
    b,
    i,
    a {
      color: $brand-dark;
    }
  }
}
